.btn,
button {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem 1rem;
    border-radius: .2rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-weight: 600;
    display: block;
    margin: 0.5rem auto;
}

.btn,
button {
    transition: all .2s ease-in-out;
    background-color: var(--accent-color);
}

.btn:hover,
button:hover,
.inverse {
    background-color: black;
    color: var(--accent-color);
}


.inverse:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

button:disabled {
    background-color: var(--default-font);
    color: var(--background-color);
    cursor: not-allowed;
}

button {
    margin-bottom: 1rem;
}
