.modal {
    border: 1px solid var(--invalid-input);
    padding: 1rem;
    border-radius: .3rem;
    position: absolute;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    background-color: var(--invalid-input-bg);
    text-align: center;
}

.modal h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--invalid-input);
    margin: .5rem 0 1rem;
}

.modal p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--default-font);
    margin: 0;
    margin-bottom: 1rem;
}