header {
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 1rem;
}

.nav-links {
    padding: .5rem 0;
    align-self: center;
}

.nav-links a {
    border: none;
    border-bottom: 1px solid transparent;
    padding-bottom: .25rem;
}

.nav-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.desktop-navigation {
    display: none;
}

.mobile-navigation {
    display: grid;
    grid-template-areas: 'logo menu-toggler'
    'nav-link nav-link';
    justify-content: space-between;
    align-items: center;
}

.mobile-navigation .logo {
    grid-area: logo;
}

.mobile-navigation .menu-toggler {
    grid-area: menu-toggler;
}

.mobile-navigation .nav-links {
    grid-area: nav-link;
}


.mobile-navigation .nav-links a {
    display: block;
    text-align: center;
    padding: .25rem 0;
}




@media (min-width: 780px) {
    .desktop-navigation {
        display: flex;
        justify-content: space-between;
    }

    .desktop-navigation .nav-links a {
        margin: 0 .5rem;
    }

    .mobile-navigation {
        display: none;
    }
}
