.map-container {
    height: 300px;
    overflow: hidden;
}

.searchbar-autocomplete-field {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 780px){

    .map-container {
        height: 60vh;
        width: 100%;
        position: relative;
    }
}