.card {
    border: 1px solid var(--border-color);
    background-color: rgba(71, 69, 69, 0.121);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    min-width: 220px;
}

.card:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.card-content {
    padding: .5rem;
    padding-bottom: 1rem;
}

.card-content h2 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}

.card-content p {
    margin: 0;
    line-height: 1.5;
}

@media (min-width: 780px) {
    .card {
        min-width: auto;
    }
}