.item-image {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 400px;
}

.item-image img {
    display: block;
    object-fit: cover;
    width: 100%;
    object-position: center;
    height: 100%;
}